{% load blog_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="navbar">
        <div class="home-button">
            <a href="{% url 'post_list' %}">Home</a>
        </div>
        <span class="navbar-title">Dominik's blog</span>
        <form method="GET" action="{% url 'post_search'%}">
            {{ global_search_form.query }}
            <input type="submit" value="Search" class="search-button">
        </form>
    </div>
    <div class="main-layout">
        <div class="content-area">
            {% block content %}{% endblock %}
        </div>
        <div class="box-row">
            <div class="stats-box">
                <span class="stats-label">I have published {% total_posts %} posts so far</span>
                <span class="stats-label">Latest posts</span>
                {% show_latest_posts 3 %}
                <span class="stats-label">Most commented posts</span>
                {% show_most_commented_posts 3 %}
            </div>
        </div>
    </div>
</body>
</html>
