{% extends 'navbar.html' %}
{% load blog_tags %}

{% block content %}
    {% if query %}
        <h1>Post which contains {{ query }}</h1>
        <h3>
            {% with results.count as total_results %}
                {{ total_results }} posts found
            {% endwith %}
        </h3>
        <h3>
            {% for post in results %}
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h3>
            {% empty %}
                <h2>There's no posts which contains {{ query }}</h2>
            {% endfor %}
    {% else %}
        <h1>Search posts</h1>
        <form method = "GET">
            {{ form.as_p }}
            <input type="submit" placeholder="Search for posts" value="Search" >
        </form>
    {% endif %}
{% endblock %}